# Keyboard Shortcut
- A (add cell above)
- B (add cell in the below active cell)
- M (change cell into markdown)
- Y (change cell into python code)
- DD (delete cell)

# 0. Hello into your homies

In [5]:
print('hello my darling')

hello my darling

# 1. Variables

In [4]:
nick_name = 'tinapyp'

In [5]:
print(nick_name)

tinapyp

In [8]:
type(nick_name) #this how to check what type ur variable contain

str

# 2. Data Types

In [28]:
# String (str)
testStr = 'String'
# Integer (int)
testInt = 1
# Float (float)
testFloat = 2.3
# boolean (bool) [True/False]
testBool = True

In [29]:
print(type(testStr), ", ", type(testInt), ", ", type(testFloat), ", ", type(testBool))

<class 'str'> ,  <class 'int'> ,  <class 'float'> ,  <class 'bool'>

In [27]:
# integer and float can be added like in math
print(testInt + 10)
print(testFloat + 2.3)

11
4.6

In [20]:
# List (array)
testList = ['tinapyp', 2024, 1, 22.23]
type(testList)

list

In [26]:
testList[3] = 22.38

In [27]:
testList

['tinapyp', 2024, 1, 22.38]

In [45]:
# tuple, IMMUTABLE = can't change the values
testTuple = ('tinapyp', 2024, 1, 22.23, 1)

In [46]:
print(testTuple), type(testTuple)

('tinapyp', 2024, 1, 22.23, 1)

(None, tuple)

In [47]:
testTuple[3] = 12

TypeError: 'tuple' object does not support item assignment

In [48]:
# Set, DOESN'T ALLOW DUPLICATE
testSet = {'tinapyp', 2024, 1, 22.23, 1}

In [49]:
testSet

{1, 2024, 22.23, 'tinapyp'}

In [50]:
type(testSet)

set

In [41]:
testSet[3] = 123

TypeError: 'set' object does not support item assignment

In [56]:
# Using Set for remove duplicate form List
listDup = [1,1,1,2,3,3,3,4]
list(set(listDup))

[1, 2, 3, 4]

In [3]:
# Dictionary
testDict = {
    'name' : 'tinapyp',
    'youtube' : '@tinapyp',
    'fav_number' : 1 
}

In [6]:
print(testDict.keys())
print(testDict.values())
print(testDict.items())

dict_keys(['name', 'youtube', 'fav_number'])
dict_values(['tinapyp', '@tinapyp', 1])
dict_items([('name', 'tinapyp'), ('youtube', '@tinapyp'), ('fav_number', 1)])

dict_items([('name', 'tinapyp'), ('youtube', '@tinapyp'), ('fav_number', 1)])

In [2]:
# Taking values from dictionary
testDict['name']

NameError: name 'testDict' is not defined

# 3. CRUD on List

## Create

In [16]:
names = ['tinapyp', 'naruto', 'sasuke', 'jiraiya']

## Read

In [17]:
names

['tinapyp', 'naruto', 'sasuke', 'jiraiya']

In [18]:
# Reading using Indexing
names[0]

'tinapyp'

In [19]:
names[-1]

'jiraiya'

In [20]:
len(names)

4

## Update

In [21]:
names[-1] = 'kakashi'
names

['tinapyp', 'naruto', 'sasuke', 'kakashi']

In [22]:
## Adding data into list
names.append('jiraiya')

In [24]:
names

['tinapyp', 'naruto', 'sasuke', 'kakashi', 'jiraiya']

In [27]:
# Insert in spesific place
names.insert(1, 'hinata')

In [28]:
names

['boruto', 'hinata', 'tinapyp', 'naruto', 'sasuke', 'kakashi', 'jiraiya']

## Delete

In [32]:
# remove data from lists
del names[0]

In [33]:
names

['hinata', 'tinapyp', 'naruto', 'sasuke', 'kakashi', 'jiraiya']

In [34]:
# remove last data in list
names.pop()

'jiraiya'

In [35]:
names

['hinata', 'tinapyp', 'naruto', 'sasuke', 'kakashi']

# 4. CRUD on Dictionaries

## Create

In [36]:
student = {
    "name": "tinapyp",
    "class" : "XII",
    "shirt_size" : "L",
    "height" : 165
}

## Read

In [37]:
student

{'name': 'tinapyp', 'class': 'XII', 'shirt_size': 'L', 'height': 165}

In [46]:
# Read and store in variable
studentName = student['class']
studentName

'XII'

In [48]:
student.keys()

dict_keys(['name', 'class', 'shirt_size', 'height'])

In [49]:
student.values()

dict_values(['tinapyp', 'XII', 'L', 165])

## Update

In [50]:
# Update existing data
student['class'] = 'XI'

In [53]:
student

{'name': 'tinapyp', 'class': 'XI', 'shirt_size': 'L', 'height': 165}

In [54]:
# Adding new data
student['sport'] = 'Basket'

In [55]:
student

{'name': 'tinapyp',
 'class': 'XI',
 'shirt_size': 'L',
 'height': 165,
 'sport': 'Basket'}

## Delete

In [56]:
del student['class']

In [57]:
student

{'name': 'tinapyp', 'shirt_size': 'L', 'height': 165, 'sport': 'Basket'}